.menu {
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 1;
}

.section {
	text-align: center;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(213, 254, 254);
}

#currentImg {
	font-weight: bold;
}

p {
	direction: rtl;
	border: #16697c;
	padding: 10;
	text-align: center;
	border-style: ridge;
	border-radius: 5px;
}

h1 {
	margin: 10;
	overflow: hidden;
	text-align: center;
}

h1:before,
h1:after {
	background-color: #2b5a94;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

h1:before {
	right: 0.5em;
	margin-left: -50%;
}

h1:after {
	left: 0.5em;
	margin-right: -50%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

ul.menu {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	margin: 0;
	padding: 0;
}

ul.menu li {
	float: left;
}

ul.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.menu li a:hover:not(.active) {
	background-color: #111;
}

ul.menu li.right {
	float: right;
}

.content {
	height: 400px;
	width: 700px;
	overflow: hidden;
	position: relative;
}

.content .images {
	height: 100%;
	width: 100%;
}

.images img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.content .slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid white;
	height: 45px;
	width: 45px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	text-align: center;
}

.content .slide:hover {
	background: rgba(255, 255, 255, 0.2);
}

.slide span {
	font-size: 35px;
	color: white;
	line-height: 41px;
}

.content .right {
	right: 0;
}